.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  margin: 18px 0 0 0;

}



.header__lang-link:target {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 22px;
    margin: 14px 0 0 0;
  }
}
