.header__lang-link {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 14px 0 0;
  cursor: url(../../../vendor/cursor/cursor_pointer.cur), pointer;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 425px) {
  .header__lang-link {
    margin-top: 18px;
  }
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}
