.cover__link {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: url(../../../vendor/cursor/cursor_pointer.cur), pointer;
}

.cover__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) {
  .cover__link {
    padding: 33px 0;
  }
}

@media screen and (min-width: 768px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    padding: 195px 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    padding: 245px 0;
  }
}
