.footer__links {
  display: grid;
  grid-template-columns: max-content;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .footer__links {
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
  }
}
