.footer {
  display: grid;
  grid-template-columns: max-content;
  justify-items: start;
  align-items: center;
  gap: 48px;
  padding: 64px 16px 24px;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: max-content 1fr;
    margin: auto;
    padding: 88x 48px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    grid-template-columns: max-content 1fr;
    padding-right: 24px;
    padding-left: 24px;
  }
}
